html, body{
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  font-family: montserrat, sans-serif;
  line-height: 24px;
  background-color: #C2FCCB;
}




#navBar {
  width: 100%;
  /* height: 10vw; */
  background-color: white;

}

#title {
  color: #AE6BC7;
  font-size: 3vw;
  font-weight: 900;
  margin-left: 3vw;
  padding-top: 2vw;

}


#navContents {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 4vw;
  margin-top: .5vw;
}

.navButton {
  text-decoration: none;
  padding-right: 3vw;
  font-size: 2.5vmin;
  color: #AE6BC7;
  margin-top: 2vw;
}

.navButton:hover {
  text-shadow: 1px 1px grey;
}

#contentBox {
  margin-top: 5vw;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-style: double;
  border-color: #AE6BC7;
  position: static;

}

#mainImage {
  width: 45%;
  object-fit: cover;
}

.mainParagraph {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.2vw;
  font-weight: 300;

}

#subInfo {
  margin-top: 2vw;
  margin-left: 7vw;
  margin-right: 7vw;


}

#subTitle {
  font-weight: 800;
  font-size: 2.5vw;
  color: #AE6BC7;
}

#subParagraph{
  font-weight: 400;
  font-size: 2vh;
  padding-left: 3vw;
  margin-bottom: 2vw;
  color: black;
}



#pageInfo {
  margin-top: 2vw;
  margin-left: 7vw;
  margin-right: 7vw;
}

#pageTitle {
  padding-left: 27vw;
  padding-top: 2vw;
  margin-bottom: 5vw;
  font-weight: 800;
  font-size: 2.5vw;
  color: #AE6BC7;
}

#pageSubtitleLeft {
  color: grey;
  margin-left: 5vw;
}

#pageParagraphLeft {
  width: 50%;
  font-weight: 400;
  font-size: 2vh;
  margin-bottom: 2vw;
  color: black;
}

#pageParagraphLeft~ul {
  width: 50%;
}

#pageSubtitleRight {
  color: grey;
  margin-left: 50%;
}

#pageParagraphRight {
  margin-left: 50%;
  font-weight: 400;
  font-size: 2vh;
  padding-left: 3vw;
  margin-bottom: 2vw;
  color: black;
}

#listRight {
  margin-left: 50%;
}

li a {
  text-decoration: none;
  color: #AE6BC7;
  font-weight: bold;
}

li a:hover {
  text-decoration: underline;
}

li a:active {
  color: white;
}



hr {
  border-style: double;
  border-color: white;
}

#footer {
  /* background-color: white; */
  width: 100%;


}

#footerBox {
  display: flex;
  justify-content: space-around;
}

.footerContents {
  font-size: 1vw;
  color: #AE6BC7;
}
