html, body{
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  font-family: montserrat, sans-serif;
  line-height: 24px;
  background-color: #C2FCCB;
}




#navBar {
  width: 100%;
  /* height: 10vw; */
  background-color: white;

}

#title {
  color: #e6b3ff;
  font-size: 3vw;
  font-weight: 900;
  margin-left: 3vw;
  padding-top: 2vw;

}


#navContents {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 4vw;
  margin-top: .5vw;
}

.navButton {
  text-decoration: none;
  padding-right: 3vw;
  font-size: 2.5vmin;
  color: #e6b3ff;
  margin-top: 2vw;
}

.navButton:hover {
  text-shadow: 1px 1px grey;
}

#contentBox {
  margin-top: 5vw;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-style: double;
  border-color: #e6b3ff;
  position: relative;
  line-height: 2vw;

}

#credit {
  position: absolute;
  bottom: 2px;
  opacity: .3;

}

#mainImage {
  width: 45%;
  object-fit: cover;
}

.mainParagraph {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.2vw;
  font-weight: 300;

}

#subInfo {
  margin-top: 2vw;
  margin-left: 7vw;
  margin-right: 7vw;


}

#subTitle {
  font-weight: 800;
  font-size: 2.5vw;
  color: #e6b3ff;
}

#subParagraphOne{
  width: 70vw;
  background-color: #f7e6ff;
  font-weight: 400;
  font-size: 2vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 2vw;
  color: black;
  border-style:ridge;
}

#subParagraphTwo{
  background-color: #f7e6ff;
  font-weight: 500;
  font-size: 2vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 4vw;
  width: 70vw;
  margin-left: 13vw;

  margin-bottom: 2vw;
  color: #9a46b9;
  border-style:ridge;
}



#pageInfo {
  margin-top: 2vw;
  margin-left: 7vw;
  margin-right: 7vw;
}

#pageTitle {
  padding-left: 27vw;
  padding-top: 2vw;
  margin-bottom: 5vw;
  font-weight: 800;
  font-size: 2.5vw;
  color: #e6b3ff;
  text-shadow: 2px 2px 2px white;

}

#pageSubtitleLeft {
  height: 2vw;
  font-size: 2vw;
  color: white;
  margin-left: 9vw;
  margin-right:40vw;
  border-style: dotted;
  border-width: medium;
  background-color: #e6b3ff;
  padding: 1vw 1vw 1vw 1vw;
}



#pageParagraphLeft {
  width: 50%;
  font-weight: 400;
  font-size: 2vh;
  margin-left: 13vw;
  margin-bottom: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  color: black;
  border-style: dashed;
  border-width: thin;
  background-color: #f7e6ff;
}

#pageParagraphLeftEnd {
  width: 50%;
  font-weight: 400;
  font-size: 2vh;
  margin-left: 30%;
  margin-bottom: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  color: black;
  border-radius: 20px;
  border-style: dashed;
  border-width: thin;
  background-color: rgba(239, 204, 255, 0.7);
}


#pageSubtitleRight {
  /* height: 9vw; */
  margin-top: 10vw;
  margin-right: 2vw;
  margin-left: 30%;
  font-size: 2vw;
  color: white;
  border-style: dotted;
  border-width: medium;
  background-color: #4dff88;
  padding: 1vw 1vw 1vw 1.5vw;
  line-height: 3vw;


}

#pageParagraphRight {
  /* margin-left: 50%; */
  font-weight: 400;
  font-size: 2vh;
  /* padding-left: 3vw; */
  margin-bottom: 2vw;
  color: black;
  width: 50%;
  margin-left: 20vw;
  padding: 1vw 2vw 1vw 2vw;
  border-style: dashed;
  border-width: thin;
  background-color: #b3ffb3;
}

#listLeft {
  padding: 1vw 2vw 1vw 4vw;
  margin-left: 30%;
  margin-bottom: 2vw;
  border-radius: 20px;
  border-style: dashed;
  border-width: thin;
  background-color: rgba(239, 204, 255, 0.7);
}



#listRight > div {
  margin-left: 5vw;
  margin-bottom: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 20px;
  border-style: dashed;
  border-width: thin;

}

#preventionHotline{
  background-color: rgb(133, 224, 224, .8);
}

#eatingDisorder{
  background-color: rgb(204, 204, 255, .8);
}

#trevorProject{
  background-color: rgb(243, 139, 0, .8);
}

#cybersmile{
  background-color: rgb(0, 130, 219, .7);
}

#samhsa {
  background-color: rgb(100, 100, 150, .5);
}

div a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

div a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px grey;
}

div a:active {
  color: white;
}

#pageStatsParagraphLeft {
  width: 50%;
  font-weight: 400;
  font-size: 2vh;
  margin-left: 10vw;
  margin-bottom: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  color: black;
}



#stats #statsLayout {
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-radius: 20px;
  border-width: thin;
  background-color: #f7e6ff;
  padding: 1vw 2vw 1vw 2vw;
  margin-bottom: 2vw;

}


#statsimg {
  display: flex;
  flex-direction: row;
  opacity: .8;
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  margin-top: 5vw;
  border-radius: 20px;
}

#subtitleLeftLayout {
  display: flex;
  flex-direction: row;
}

#subtitleRightLayout {
  display: flex;
  flex-direction: row;
}

#statsimgTwo {
  display: flex;
  flex-direction: row;
  opacity: .8;
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  margin-top: 10vw;
  /* margin-left: 5vw; */
  /* margin-right: 50vw; */
  border-radius: 20px;
}

#boximg {
  width: 10vw;
  height: 10vw;
  margin-left: 10vw;
  border-radius: 20px;
  object-fit: cover;

}
h3 {
  font-size: 5vw;
}

#pageTipsParagraphRight {
  font-weight: 500;
  font-size: 3vh;
  color: black;

  /* margin-left: 20vw; */
  padding: 1vw 2vw 1vw 2vw;
}

#tips div {
  border-style: dotted;
  border-radius: 20px;
  border-width: thin;
  background-color: #b3ffb3;
  padding: 1vw 2vw 1vw 2vw;
  margin-bottom: 2vw;
  margin-left: 30%;
  font-size: 2.5vh;

}

ul > li {
  font-weight: 400;
  color: #9900cc;
  margin-top: 10px;
}

hr {
  border-style: double;
  border-color: white;
}

#footer {
  width: 100%;


}

#footerBox {
  display: flex;
  justify-content: space-around;
}

.footerContents {
  font-size: 1vw;
  color: #9900cc;
}
